
@*@model ASK.Controllers.ReportDailyController*@
@using ASK.Controllers



@*Сохраняем текущую страницу*@
@using ASK.Controllers.Setting;
@{Accaunt.CurrentPage = "ReportDaily";}


<div class="container-fluid row align-items-start" >
    
      <div class="col"
            style=" color: #808080;
                padding: 10px;
                border-radius: 10px;
                /* box-shadow: 0 0 10px;*/
                box-shadow: inset 0 0 5px;
                line-height: 1;
                /*margin: 0 -23px 0 0;*/
                /*padding: 10px;*/
                font-size: 230%;
                /* width: 375px;*/
                height 100px;
                ">

    

        <form method="post" >
            <label style="font-family: Times New Roman" , Times, serif; font-size: 20%;" for="start" >Отчёт&nbspза&nbspсутки</label>  @*&nbsp - не разрывной пробел*@
        </form>




    </div>
    
    
   
     
        
        <div class="col">
         </div>
         
         <div class="col">     
         </div>
         
         <div class="col">
         </div>

         <div class="col">
         </div>

         <div class="col">
         </div>

         <div class="col">
         </div>

         <div class="col">
         </div>
        
      


         <div class="col"
    style=" color: #808080;
             padding: 10px;
          /*  background: #fffffC;*/
            border-radius: 10px;
       /*     box-shadow: 0 0 10px;*/
            box-shadow: inset 0 0 10px;
            line-height: 1;
            margin: 0 10px 0 0;
           /* padding: 10px;*/
            font-size: 170%;
            /*width: 340px;*/
            /*height 60px;*/
            white-space: nowrap; 
            ">

    

        <form method="post" >
            @*<label style="font-family: Times New Roman" , Times, serif; font-size: 20%;" for="start" >Отчёт за сутки</label> *@

            @*<label style="font-family: Times New Roman" , Times, serif; font-size: 20%;" for="start" > на:</label> *@
            <input style="font-family: Times New Roman" , Times, serif; font-size: 20%;" style="width: 160px; height 20px;" type="date" id="start" name="tripstart" action="ExportToExcel"  
            value="@ReportDailyController.authData.Year-@ReportDailyController.authData.Month.ToString().PadLeft(2, '0')-@ReportDailyController.authData.Day.ToString().PadLeft(2, '0')"
            min="2020-01-01" 
            max="2030-12-31" 
            style="width: 100px; height: 35px">
            <input class="btn btn-primary" style="margin: 0 0 4px 0;" type="submit" value="Сформировать"/>
        </form>



    </div>

     

    <div class="col"
    style=" color: #808080;
             padding: 10px;
          /*  background: #fffffC;*/
            border-radius: 10px;
       /*     box-shadow: 0 0 10px;*/
            box-shadow: inset 0 0 10px;
            line-height: 1;
            margin: 0 -23px 0 0;
           /* padding: 10px;*/
            font-size: 170%;
            /*width: 380px;*/
            /*height 60px;*/
            white-space: nowrap; 
            ">

         <a asp-action="ExportToExcel" asp-controller="ReportDaily" class="btn btn-success"  style="margin: 0 0 4px 0;"> 
            Сохраниь в Excel
         </a>

        @* <a asp-action="ImportToExcel" asp-controller="ReportDailys" class="btn btn-primary">
            Import from Excel
            </a>*@

            @*  <a asp-action="Add_20M" asp-controller="c " class="btn btn-success"  style="margin: 0 0 4px 0;"> 
            Добавить строчку в БД
         </a>*@
        </div>
      
    
   

</div>


<br />

<div class="container-fluid">


   <style>
        table {}
        td, th {}
        th {}
        tbody tr:bordered
        {background: #FFDEAD;}
        tbody tr:hover {
        background: #FFDEAD; /* Цвет фона при наведении */
        /*color: #fff; /* Цвет текста при наведении */*/
   }
  </style>


    <div  style="font-family: Times New Roman" , Times, serif; font-size: 20%;">
        <table   class="table table-striped   table-bordered  + text-center  " style="  box-shadow: 0 0 1px; font-size: 86%; line-height: 110%;">
            <thead>
                <tr class="table-secondary"  style="font-weight:bold; background: #FFDEAD;" >
                    <td style="vertical-align: middle">Время</td>

                    @*Коонцентрации*@
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO_Conc; vertical-align: middle">CO мг/м³, при н.у.</td>   @*display: table-cell/none;*@
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO_Conc; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO2_Conc; vertical-align: middle">CO2 мг/м³, при н.у.</td>
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO2_Conc; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO_Conc; vertical-align: middle">NO мг/м³, при н.у.</td>
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO_Conc; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO2_Conc; vertical-align: middle">NO₂ мг/м³, при н.у.</td>
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO2_Conc; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NOx_Conc; vertical-align: middle">NOₓ мг/м³, при н.у.</td>
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NOx_Conc; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.SO2_Conc; vertical-align: middle">SO₂ мг/м³, при н.у.</td>
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.SO2_Conc; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Dust_Conc; vertical-align: middle">Тв.ч. мг/м³, при н.у.</td>
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Dust_Conc; vertical-align: middle">%</td>
                    
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CH4_Conc; vertical-align: middle">CH₄. мг/м³, при н.у.</td>
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CH4_Conc; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.H2S_Conc; vertical-align: middle">H₂S. мг/м³, при н.у.</td>
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.H2S_Conc; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_1; vertical-align: middle">Add_Conc_1. мг/м³, при н.у.</td>   @*Дополнительные компоненты, переименовать если будут испол.*@
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_1; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_2; vertical-align: middle">Add_Conc_2. мг/м³, при н.у.</td>   @*Дополнительные компоненты, переименовать если будут испол.*@
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_2; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_3; vertical-align: middle">Add_Conc_3. мг/м³, при н.у.</td>   @*Дополнительные компоненты, переименовать если будут испол.*@
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_3; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_4; vertical-align: middle">Add_Conc_4. мг/м³, при н.у.</td>   @*Дополнительные компоненты, переименовать если будут испол.*@
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_4; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_5; vertical-align: middle">Add_Conc_5. мг/м³, при н.у.</td>   @*Дополнительные компоненты, переименовать если будут испол.*@
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_5; vertical-align: middle">%</td>


                    @*Выбросы*@
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO_Emis; vertical-align: middle">CO г/c</td>
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO_Emis; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO2_Emis; vertical-align: middle">CO₂ г/c</td>
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO2_Emis; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO_Emis; vertical-align: middle">NO г/c</td>
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO_Emis; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO2_Emis; vertical-align: middle">NO₂ г/c</td>
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO2_Emis; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NOx_Emis; vertical-align: middle">NOₓ г/c</td>
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NOx_Emis; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.SO2_Emis; vertical-align: middle">SO₂ г/c</td>
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.SO2_Emis; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Dust_Emis; vertical-align: middle">Тв.ч. г/c</td>
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Dust_Emis; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CH4_Emis; vertical-align: middle">CH₄. г/c</td>
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CH4_Emis; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.H2S_Emis; vertical-align: middle">H₂S. г/c</td>
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.H2S_Emis; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_1; vertical-align: middle">Add_Emis_1. г/c</td>   @*Дополнительные компоненты, переименовать если будут испол.*@
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_1; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_2; vertical-align: middle">Add_Emis_2. г/c</td>   @*Дополнительные компоненты, переименовать если будут испол.*@
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_2; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_3; vertical-align: middle">Add_Emis_3. г/c</td>   @*Дополнительные компоненты, переименовать если будут испол.*@
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_3; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_4; vertical-align: middle">Add_Emis_4. г/c</td>   @*Дополнительные компоненты, переименовать если будут испол.*@
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_4; vertical-align: middle">%</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_5; vertical-align: middle">Add_Emis_5. г/c</td>   @*Дополнительные компоненты, переименовать если будут испол.*@
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_5; vertical-align: middle">%</td>


                   


                    @*Параметры*@
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Pressure; vertical-align: middle">Давление ДГ, кПа</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Temperature; vertical-align: middle">Температура ДГ, °С</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Speed; vertical-align: middle">Скорость ДГ, м³/с</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Flow; vertical-align: middle">Расход ДГ, м³/с, при н.у.</td>
                   
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Temperature_KIP; vertical-align: middle">Температура КИП, °С</td>
                    
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Temperature_NOx; vertical-align: middle">Температура NOx, °С</td>


                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.O2_Dry; vertical-align: middle">О₂ сух, %</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.O2_Wet; vertical-align: middle">О₂ вл, %</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.H2O; vertical-align: middle">H₂O, %</td>
                    
                    
                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Mode_ASK; vertical-align: middle">Режим</td>

                    <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.PDZ_Fuel; vertical-align: middle">ПДК</td>

                </tr>

            </thead>
            <tbody>
                @if (ReportDailyController.reportDay.tableReportDay.Count > 0)
                {
                    <tr  style="font-weight:bold;">
                        <td style=" padding: 3px; vertical-align: middle;">ПДК / ПДВ </td>
                        
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO_Conc; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.CO_Conc > 0.0 && @ReportDailyController.reportDay.PDZ.CO_Conc < 999999.0) {@ReportDailyController.reportDay.PDZ.CO_Conc} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO_Conc; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO2_Conc; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.CO2_Conc > 0.0 && @ReportDailyController.reportDay.PDZ.CO2_Conc < 999999.0) {@ReportDailyController.reportDay.PDZ.CO2_Conc} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO2_Conc; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO_Conc; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.NO_Conc > 0.0 && @ReportDailyController.reportDay.PDZ.NO_Conc < 999999.0) {@ReportDailyController.reportDay.PDZ.NO_Conc} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO_Conc; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO2_Conc; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.NO2_Conc > 0.0 && @ReportDailyController.reportDay.PDZ.NO2_Conc < 999999.0) {@ReportDailyController.reportDay.PDZ.NO2_Conc} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO2_Conc; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NOx_Conc; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.NOx_Conc > 0.0 && @ReportDailyController.reportDay.PDZ.NOx_Conc < 999999.0) {@ReportDailyController.reportDay.PDZ.NOx_Conc} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NOx_Conc; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.SO2_Conc; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.SO2_Conc > 0.0 && @ReportDailyController.reportDay.PDZ.SO2_Conc < 999999.0) {@ReportDailyController.reportDay.PDZ.SO2_Conc} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.SO2_Conc; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Dust_Conc; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.Dust_Conc > 0.0 && @ReportDailyController.reportDay.PDZ.Dust_Conc < 999999.0) {@ReportDailyController.reportDay.PDZ.Dust_Conc} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Dust_Conc; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CH4_Conc; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.CH4_Conc > 0.0 && @ReportDailyController.reportDay.PDZ.CH4_Conc < 999999.0) {@ReportDailyController.reportDay.PDZ.CH4_Conc} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CH4_Conc; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.H2S_Conc; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.H2S_Conc > 0.0 && @ReportDailyController.reportDay.PDZ.H2S_Conc < 999999.0) {@ReportDailyController.reportDay.PDZ.H2S_Conc} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.H2S_Conc; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_1; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.Add_Conc_1 > 0.0 && @ReportDailyController.reportDay.PDZ.Add_Conc_1 < 999999.0) {@ReportDailyController.reportDay.PDZ.Add_Conc_1} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_1; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_2; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.Add_Conc_2 > 0.0 && @ReportDailyController.reportDay.PDZ.Add_Conc_2 < 999999.0) {@ReportDailyController.reportDay.PDZ.Add_Conc_2} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_2; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_3; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.Add_Conc_3 > 0.0 && @ReportDailyController.reportDay.PDZ.Add_Conc_3 < 999999.0) {@ReportDailyController.reportDay.PDZ.Add_Conc_3} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_3; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_4; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.Add_Conc_4 > 0.0 && @ReportDailyController.reportDay.PDZ.Add_Conc_4 < 999999.0) {@ReportDailyController.reportDay.PDZ.Add_Conc_4} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_4; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_5; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.Add_Conc_5 > 0.0 && @ReportDailyController.reportDay.PDZ.Add_Conc_5 < 999999.0) {@ReportDailyController.reportDay.PDZ.Add_Conc_5} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_5; padding: 3px; vertical-align: middle;"></td>

                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO_Emis; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.CO_Emis > 0.0 && @ReportDailyController.reportDay.PDZ.CO_Emis < 999999.0) {@ReportDailyController.reportDay.PDZ.CO_Emis} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO_Emis; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO2_Emis; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.CO2_Emis > 0.0 && @ReportDailyController.reportDay.PDZ.CO2_Emis < 999999.0) {@ReportDailyController.reportDay.PDZ.CO2_Emis} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO2_Emis; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO_Emis; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.NO_Emis > 0.0 && @ReportDailyController.reportDay.PDZ.NO_Emis < 999999.0) {@ReportDailyController.reportDay.PDZ.NO_Emis} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO_Emis; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO2_Emis; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.NO2_Emis > 0.0 && @ReportDailyController.reportDay.PDZ.NO2_Emis < 999999.0) {@ReportDailyController.reportDay.PDZ.NO2_Emis} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO2_Emis; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NOx_Emis; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.NOx_Emis > 0.0 && @ReportDailyController.reportDay.PDZ.NOx_Emis < 999999.0) {@ReportDailyController.reportDay.PDZ.NOx_Emis} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NOx_Emis; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.SO2_Emis; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.SO2_Emis > 0.0 && @ReportDailyController.reportDay.PDZ.SO2_Emis < 999999.0) {@ReportDailyController.reportDay.PDZ.SO2_Emis} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.SO2_Emis; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Dust_Emis; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.Dust_Emis > 0.0 && @ReportDailyController.reportDay.PDZ.Dust_Emis < 999999.0) {@ReportDailyController.reportDay.PDZ.Dust_Emis} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Dust_Emis; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CH4_Emis; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.CH4_Emis > 0.0 && @ReportDailyController.reportDay.PDZ.CH4_Emis < 999999.0) {@ReportDailyController.reportDay.PDZ.CH4_Emis} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CH4_Emis; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.H2S_Emis; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.H2S_Emis > 0.0 && @ReportDailyController.reportDay.PDZ.H2S_Emis < 999999.0) {@ReportDailyController.reportDay.PDZ.H2S_Emis} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.H2S_Emis; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_1; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.Add_Emis_1 > 0.0 && @ReportDailyController.reportDay.PDZ.Add_Emis_1 < 999999.0) {@ReportDailyController.reportDay.PDZ.Add_Emis_1} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_1; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_2; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.Add_Emis_2 > 0.0 && @ReportDailyController.reportDay.PDZ.Add_Emis_2 < 999999.0) {@ReportDailyController.reportDay.PDZ.Add_Emis_2} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_2; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_3; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.Add_Emis_3 > 0.0 && @ReportDailyController.reportDay.PDZ.Add_Emis_3 < 999999.0) {@ReportDailyController.reportDay.PDZ.Add_Emis_3} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_3; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_4; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.Add_Emis_4 > 0.0 && @ReportDailyController.reportDay.PDZ.Add_Emis_4 < 999999.0) {@ReportDailyController.reportDay.PDZ.Add_Emis_4} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_4; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_5; padding: 3px; vertical-align: middle;">@if (@ReportDailyController.reportDay.PDZ.Add_Emis_5 > 0.0 && @ReportDailyController.reportDay.PDZ.Add_Emis_5 < 999999.0) {@ReportDailyController.reportDay.PDZ.Add_Emis_5} else {@ReportDailyController.noneValue; } </td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_5; padding: 3px; vertical-align: middle;"></td>


                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Pressure; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Temperature; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Speed; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Flow; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Temperature_KIP; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Temperature_NOx; padding: 3px; vertical-align: middle;"></td>
                        
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.O2_Dry; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.O2_Wet; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.H2O; padding: 3px; vertical-align: middle;"></td>
                        
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Mode_ASK; padding: 3px; vertical-align: middle;"></td>
                        <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.PDZ_Fuel; padding: 3px; vertical-align: middle;"></td>

                      </tr>}

                @foreach (var RepDay in ReportDailyController.reportDay.tableReportDay)
                {
                    <tr>
                                <td style=" padding: 3px;">@RepDay.Date.Hour:@RepDay.Date.Minute</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO_Conc; padding: 3px; @if(RepDay.CO_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.CO_Conc</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO_Conc; padding: 3px; @if(RepDay.CO_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@if(RepDay.CO_Conc_Percent > 0){@RepDay.CO_Conc_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO2_Conc; padding: 3px; @if(RepDay.CO2_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.CO2_Conc</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO2_Conc; padding: 3px; @if(RepDay.CO2_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.CO2_Conc_Percent > 0){@RepDay.CO2_Conc_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO_Conc; padding: 3px; @if(RepDay.NO_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.NO_Conc</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO_Conc; padding: 3px; @if(RepDay.NO_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.NO_Conc_Percent > 0){@RepDay.NO_Conc_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO2_Conc; padding: 3px; @if(RepDay.NO2_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.NO2_Conc</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO2_Conc; padding: 3px; @if(RepDay.NO2_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.NO2_Conc_Percent > 0){@RepDay.NO2_Conc_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NOx_Conc; padding: 3px; @if(RepDay.NOx_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.NOx_Conc</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NOx_Conc; padding: 3px; @if(RepDay.NOx_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.NOx_Conc_Percent > 0){@RepDay.NOx_Conc_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.SO2_Conc; padding: 3px; @if(RepDay.SO2_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.SO2_Conc</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.SO2_Conc; padding: 3px; @if(RepDay.SO2_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.SO2_Conc_Percent > 0){@RepDay.SO2_Conc_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Dust_Conc; padding: 3px; @if(RepDay.Dust_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.Dust_Conc</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Dust_Conc; padding: 3px; @if(RepDay.Dust_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.Dust_Conc_Percent > 0){@RepDay.Dust_Conc_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CH4_Conc; padding: 3px; @if(RepDay.CH4_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.CH4_Conc</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CH4_Conc; padding: 3px; @if(RepDay.CH4_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.CH4_Conc_Percent > 0){@RepDay.CH4_Conc_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.H2S_Conc; padding: 3px; @if(RepDay.H2S_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.H2S_Conc</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.H2S_Conc; padding: 3px; @if(RepDay.H2S_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.H2S_Conc_Percent > 0){@RepDay.H2S_Conc_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_1; padding: 3px; @if(RepDay.Add_Conc_1_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.Add_Conc_1</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_1; padding: 3px; @if(RepDay.Add_Conc_1_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.Add_Conc_1_Percent > 0){@RepDay.Add_Conc_2_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_2; padding: 3px; @if(RepDay.Add_Conc_2_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.Add_Conc_2</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_2; padding: 3px; @if(RepDay.Add_Conc_2_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.Add_Conc_2_Percent > 0){@RepDay.Add_Conc_2_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_3; padding: 3px; @if(RepDay.Add_Conc_3_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.Add_Conc_3</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_3; padding: 3px; @if(RepDay.Add_Conc_3_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.Add_Conc_3_Percent > 0){@RepDay.Add_Conc_3_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_4; padding: 3px; @if(RepDay.Add_Conc_4_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.Add_Conc_4</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_4; padding: 3px; @if(RepDay.Add_Conc_4_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.Add_Conc_4_Percent > 0){@RepDay.Add_Conc_4_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_5; padding: 3px; @if(RepDay.Add_Conc_5_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.Add_Conc_5</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_5; padding: 3px; @if(RepDay.Add_Conc_5_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.Add_Conc_5_Percent > 0){@RepDay.Add_Conc_5_Percent;}</td>


                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO_Emis; padding: 3px; @if(RepDay.CO_Emis_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.CO_Emis</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO_Emis;; padding: 3px; @if(RepDay.CO_Emis_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.CO_Emis_Percent > 0){@RepDay.CO_Emis_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO2_Emis; padding: 3px; @if(RepDay.CO2_Emis_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.CO2_Emis</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO2_Emis; padding: 3px; @if(RepDay.CO2_Emis_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.CO2_Emis_Percent > 0){@RepDay.CO2_Emis_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO_Emis; padding: 3px; @if(RepDay.NO_Emis_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.NO_Emis</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO_Emis; padding: 3px; @if(RepDay.NO_Emis_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.NO_Emis_Percent > 0){@RepDay.NO_Emis_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO2_Emis; padding: 3px; @if(RepDay.NO2_Emis_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.NO2_Emis</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO2_Emis; padding: 3px; @if(RepDay.NO2_Emis_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.NO2_Emis_Percent > 0){@RepDay.NO2_Emis_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NOx_Emis; padding: 3px; @if(RepDay.NOx_Emis_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.NOx_Emis</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NOx_Emis; padding: 3px; @if(RepDay.NOx_Emis_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.NOx_Emis_Percent > 0){@RepDay.NOx_Emis_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.SO2_Emis; padding: 3px; @if(RepDay.SO2_Emis_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.SO2_Emis</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.SO2_Emis; padding: 3px; @if(RepDay.SO2_Emis_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.SO2_Emis_Percent > 0){@RepDay.SO2_Emis_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Dust_Emis; padding: 3px; @if(RepDay.Dust_Emis_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.Dust_Emis</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Dust_Emis; padding: 3px; @if(RepDay.Dust_Emis_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.Dust_Emis_Percent > 0){@RepDay.Dust_Emis_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CH4_Emis; padding: 3px; @if(RepDay.CH4_Emis_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.CH4_Emis</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CH4_Emis; padding: 3px; @if(RepDay.CH4_Emis_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.CH4_Emis_Percent > 0){@RepDay.CH4_Emis_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.H2S_Emis; padding: 3px; @if(RepDay.H2S_Emis_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.H2S_Emis</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.H2S_Emis; padding: 3px; @if(RepDay.H2S_Emis_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.H2S_Emis_Percent > 0){@RepDay.H2S_Emis_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_1; padding: 3px; @if(RepDay.Add_Emis_1_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.Add_Emis_1</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_1; padding: 3px; @if(RepDay.Add_Emis_1_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.Add_Emis_1_Percent > 0){@RepDay.Add_Emis_1_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_2; padding: 3px; @if(RepDay.Add_Emis_2_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.Add_Emis_2</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_2; padding: 3px; @if(RepDay.Add_Emis_2_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.Add_Emis_2_Percent > 0){@RepDay.Add_Emis_2_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_3; padding: 3px; @if(RepDay.Add_Emis_3_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.Add_Emis_3</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_3; padding: 3px; @if(RepDay.Add_Emis_3_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.Add_Emis_3_Percent > 0){@RepDay.Add_Emis_3_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_4; padding: 3px; @if(RepDay.Add_Emis_4_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.Add_Emis_4</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_4; padding: 3px; @if(RepDay.Add_Emis_4_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.Add_Emis_4_Percent > 0){@RepDay.Add_Emis_4_Percent;}</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_5; padding: 3px; @if(RepDay.Add_Emis_5_Percent > 0.0){@ReportDailyController.exceedColor};">@RepDay.Add_Emis_5</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_5; padding: 3px; @if(RepDay.Add_Emis_5_Percent > 0.0){@ReportDailyController.exceedColor};">@if (RepDay.Add_Emis_5_Percent > 0){@RepDay.Add_Emis_5_Percent;}</td>


                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Pressure; padding: 3px;">@RepDay.Pressure</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Temperature; padding: 3px;">@RepDay.Temperature</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Speed; padding: 3px;">@RepDay.Speed</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Flow; padding: 3px;">@RepDay.Flow</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Temperature_KIP; padding: 3px;">@RepDay.Temperature_KIP</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Temperature_NOx; padding: 3px;">@RepDay.Temperature_NOx</td>
                                
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.O2_Dry; padding: 3px;">@RepDay.O2_Dry</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.O2_Wet; padding: 3px;">@RepDay.O2_Wet</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.H2O; padding: 3px;">@RepDay.H2O</td>
                                
                                <td style=" display:@GlobalStaticSettingsASK.VisibilityOptions20M.Mode_ASK; padding: 3px; @ReportDailyController.mode_ASK_String_color[Convert.ToInt32(RepDay.Mode_ASK)]">@ReportDailyController.mode_ASK_String[Convert.ToInt32(RepDay.Mode_ASK)]</td>
                                <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.PDZ_Fuel; padding: 3px;">@RepDay.PDZ_Fuel</td>

                     </tr>
                }
            </tbody>
            <tfoot>
                <tr class="table-secondary" style="font-weight:bold;">
                            <td style=" padding: 4px;">Среднее / Сумма </td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO_Conc; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.CO_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@ReportDailyController.reportDay.avgTotal_20M.CO_Conc</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO_Conc; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.CO_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@if (ReportDailyController.reportDay.avgTotal_20M.CO_Conc_Percent > 0){@ReportDailyController.reportDay.avgTotal_20M.CO_Conc_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO2_Conc; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.CO2_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@ReportDailyController.reportDay.avgTotal_20M.CO2_Conc</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO2_Conc; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.CO2_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@if (ReportDailyController.reportDay.avgTotal_20M.CO2_Conc_Percent > 0){@ReportDailyController.reportDay.avgTotal_20M.CO2_Conc_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO_Conc; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.NO_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@ReportDailyController.reportDay.avgTotal_20M.NO_Conc</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO_Conc; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.NO_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@if (ReportDailyController.reportDay.avgTotal_20M.NO_Conc_Percent > 0){@ReportDailyController.reportDay.avgTotal_20M.NO_Conc_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO2_Conc; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.NO2_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@ReportDailyController.reportDay.avgTotal_20M.NO2_Conc</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO2_Conc; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.NO2_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@if (ReportDailyController.reportDay.avgTotal_20M.NO2_Conc_Percent > 0){@ReportDailyController.reportDay.avgTotal_20M.NO2_Conc_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NOx_Conc; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.NOx_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@ReportDailyController.reportDay.avgTotal_20M.NOx_Conc</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NOx_Conc; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.NOx_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@if (ReportDailyController.reportDay.avgTotal_20M.NOx_Conc_Percent > 0){@ReportDailyController.reportDay.avgTotal_20M.NOx_Conc_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.SO2_Conc; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.SO2_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@ReportDailyController.reportDay.avgTotal_20M.SO2_Conc</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.SO2_Conc; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.SO2_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@if (ReportDailyController.reportDay.avgTotal_20M.SO2_Conc_Percent > 0){@ReportDailyController.reportDay.avgTotal_20M.SO2_Conc_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Dust_Conc; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.Dust_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@ReportDailyController.reportDay.avgTotal_20M.Dust_Conc</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Dust_Conc; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.Dust_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@if (ReportDailyController.reportDay.avgTotal_20M.Dust_Conc_Percent > 0){@ReportDailyController.reportDay.avgTotal_20M.Dust_Conc_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CH4_Conc; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.CH4_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@ReportDailyController.reportDay.avgTotal_20M.CH4_Conc</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CH4_Conc; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.CH4_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@if (ReportDailyController.reportDay.avgTotal_20M.CH4_Conc_Percent > 0){@ReportDailyController.reportDay.avgTotal_20M.CH4_Conc_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.H2S_Conc; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.H2S_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@ReportDailyController.reportDay.avgTotal_20M.H2S_Conc</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.H2S_Conc; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.H2S_Conc_Percent > 0.0){@ReportDailyController.exceedColor};">@if (ReportDailyController.reportDay.avgTotal_20M.H2S_Conc_Percent > 0){@ReportDailyController.reportDay.avgTotal_20M.H2S_Conc_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_1; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.Add_Conc_1_Percent > 0.0){@ReportDailyController.exceedColor};">@ReportDailyController.reportDay.avgTotal_20M.Add_Conc_1</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_1; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.Add_Conc_1_Percent > 0.0){@ReportDailyController.exceedColor};">@if (ReportDailyController.reportDay.avgTotal_20M.Add_Conc_1_Percent > 0){@ReportDailyController.reportDay.avgTotal_20M.Add_Conc_1_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_2; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.Add_Conc_2_Percent > 0.0){@ReportDailyController.exceedColor};">@ReportDailyController.reportDay.avgTotal_20M.Add_Conc_2</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_2; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.Add_Conc_2_Percent > 0.0){@ReportDailyController.exceedColor};">@if (ReportDailyController.reportDay.avgTotal_20M.Add_Conc_2_Percent > 0){@ReportDailyController.reportDay.avgTotal_20M.Add_Conc_2_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_3; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.Add_Conc_3_Percent > 0.0){@ReportDailyController.exceedColor};">@ReportDailyController.reportDay.avgTotal_20M.Add_Conc_3</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_3; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.Add_Conc_3_Percent > 0.0){@ReportDailyController.exceedColor};">@if (ReportDailyController.reportDay.avgTotal_20M.Add_Conc_3_Percent > 0){@ReportDailyController.reportDay.avgTotal_20M.Add_Conc_3_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_4; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.Add_Conc_4_Percent > 0.0){@ReportDailyController.exceedColor};">@ReportDailyController.reportDay.avgTotal_20M.Add_Conc_4</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_4; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.Add_Conc_4_Percent > 0.0){@ReportDailyController.exceedColor};">@if (ReportDailyController.reportDay.avgTotal_20M.Add_Conc_4_Percent > 0){@ReportDailyController.reportDay.avgTotal_20M.Add_Conc_4_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_5; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.Add_Conc_5_Percent > 0.0){@ReportDailyController.exceedColor};">@ReportDailyController.reportDay.avgTotal_20M.Add_Conc_5</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Conc_5; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.Add_Conc_5_Percent > 0.0){@ReportDailyController.exceedColor};">@if (ReportDailyController.reportDay.avgTotal_20M.Add_Conc_5_Percent > 0){@ReportDailyController.reportDay.avgTotal_20M.Add_Conc_5_Percent;}</td>


                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO_Emis; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.CO_Emis_Percent > 0.0){@ReportDailyController.exceedColor};">@ReportDailyController.reportDay.avgTotal_20M.CO_Emis / @ReportDailyController.reportDay.sumTotal_20M.CO_Emis&nbspкг.</td> @*&nbsp - не разрывной пробел*@
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO_Emis; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.CO_Emis_Percent > 0.0){@ReportDailyController.exceedColor}">@if (ReportDailyController.reportDay.avgTotal_20M.CO_Emis_Percent > 0){@ReportDailyController.reportDay.avgTotal_20M.CO_Emis_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO2_Emis; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.CO2_Emis_Percent > 0.0){@ReportDailyController.exceedColor}">@ReportDailyController.reportDay.avgTotal_20M.CO2_Emis  / @ReportDailyController.reportDay.sumTotal_20M.CO2_Emis&nbspкг.</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CO2_Emis; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.CO2_Emis_Percent > 0.0){@ReportDailyController.exceedColor}">@if (ReportDailyController.reportDay.avgTotal_20M.CO2_Emis_Percent > 0){@ReportDailyController.reportDay.avgTotal_20M.CO2_Emis_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO_Emis; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.NO_Emis_Percent > 0.0){@ReportDailyController.exceedColor}">@ReportDailyController.reportDay.avgTotal_20M.NO_Emis / @ReportDailyController.reportDay.sumTotal_20M.NO_Emis&nbspкг.</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO_Emis; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.NO_Emis_Percent > 0.0){@ReportDailyController.exceedColor}">@if (ReportDailyController.reportDay.avgTotal_20M.NO_Emis_Percent > 0){@ReportDailyController.reportDay.avgTotal_20M.NO_Emis_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO2_Emis; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.NO2_Emis_Percent > 0.0){@ReportDailyController.exceedColor}">@ReportDailyController.reportDay.avgTotal_20M.NO2_Emis / @ReportDailyController.reportDay.sumTotal_20M.NO2_Emis&nbspкг.</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NO2_Emis; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.NO2_Emis_Percent > 0.0){@ReportDailyController.exceedColor}">@if (ReportDailyController.reportDay.avgTotal_20M.NO2_Emis_Percent > 0){@ReportDailyController.reportDay.avgTotal_20M.NO2_Emis_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NOx_Emis; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.NOx_Emis_Percent > 0.0){@ReportDailyController.exceedColor}">@ReportDailyController.reportDay.avgTotal_20M.NOx_Emis / @ReportDailyController.reportDay.sumTotal_20M.NOx_Emis&nbspкг.</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.NOx_Emis; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.NOx_Emis_Percent > 0.0){@ReportDailyController.exceedColor}">@if (ReportDailyController.reportDay.avgTotal_20M.NOx_Emis_Percent > 0){@ReportDailyController.reportDay.avgTotal_20M.NOx_Emis_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.SO2_Emis; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.SO2_Emis_Percent > 0.0){@ReportDailyController.exceedColor}">@ReportDailyController.reportDay.avgTotal_20M.SO2_Emis / @ReportDailyController.reportDay.sumTotal_20M.SO2_Emis&nbspкг.</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.SO2_Emis; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.SO2_Emis_Percent > 0.0){@ReportDailyController.exceedColor}">@if (ReportDailyController.reportDay.avgTotal_20M.SO2_Emis_Percent > 0){@ReportDailyController.reportDay.avgTotal_20M.SO2_Emis_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Dust_Emis; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.Dust_Emis_Percent > 0.0){@ReportDailyController.exceedColor}">@ReportDailyController.reportDay.avgTotal_20M.Dust_Emis / @ReportDailyController.reportDay.sumTotal_20M.Dust_Emis&nbspкг.</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Dust_Emis; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.Dust_Emis_Percent > 0.0){@ReportDailyController.exceedColor}">@if (ReportDailyController.reportDay.avgTotal_20M.Dust_Emis_Percent < 0){@ReportDailyController.reportDay.avgTotal_20M.Dust_Emis_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CH4_Emis; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.CH4_Emis_Percent > 0.0){@ReportDailyController.exceedColor}">@ReportDailyController.reportDay.avgTotal_20M.CH4_Emis / @ReportDailyController.reportDay.sumTotal_20M.CH4_Emis&nbspкг.</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.CH4_Emis; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.CH4_Emis_Percent > 0.0){@ReportDailyController.exceedColor}">@if (ReportDailyController.reportDay.avgTotal_20M.CH4_Emis_Percent < 0){@ReportDailyController.reportDay.avgTotal_20M.CH4_Emis_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.H2S_Emis; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.H2S_Emis_Percent > 0.0){@ReportDailyController.exceedColor}">@ReportDailyController.reportDay.avgTotal_20M.H2S_Emis / @ReportDailyController.reportDay.sumTotal_20M.H2S_Emis&nbspкг.</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.H2S_Emis; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.H2S_Emis_Percent > 0.0){@ReportDailyController.exceedColor}">@if (ReportDailyController.reportDay.avgTotal_20M.H2S_Emis_Percent < 0){@ReportDailyController.reportDay.avgTotal_20M.H2S_Emis_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_1; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.Add_Emis_1_Percent > 0.0){@ReportDailyController.exceedColor}">@ReportDailyController.reportDay.avgTotal_20M.Add_Emis_1 / @ReportDailyController.reportDay.sumTotal_20M.Add_Emis_1&nbspкг.</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_1; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.Add_Emis_1_Percent > 0.0){@ReportDailyController.exceedColor}">@if (ReportDailyController.reportDay.avgTotal_20M.Add_Emis_1_Percent < 0){@ReportDailyController.reportDay.avgTotal_20M.Add_Emis_1_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_2; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.Add_Emis_2_Percent > 0.0){@ReportDailyController.exceedColor}">@ReportDailyController.reportDay.avgTotal_20M.Add_Emis_2 / @ReportDailyController.reportDay.sumTotal_20M.Add_Emis_2&nbspкг.</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_2; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.Add_Emis_2_Percent > 0.0){@ReportDailyController.exceedColor}">@if (ReportDailyController.reportDay.avgTotal_20M.Add_Emis_2_Percent < 0){@ReportDailyController.reportDay.avgTotal_20M.Add_Emis_2_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_3; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.Add_Emis_3_Percent > 0.0){@ReportDailyController.exceedColor}">@ReportDailyController.reportDay.avgTotal_20M.Add_Emis_3 / @ReportDailyController.reportDay.sumTotal_20M.Add_Emis_3&nbspкг.</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_3; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.Add_Emis_3_Percent > 0.0){@ReportDailyController.exceedColor}">@if (ReportDailyController.reportDay.avgTotal_20M.Add_Emis_3_Percent < 0){@ReportDailyController.reportDay.avgTotal_20M.Add_Emis_3_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_4; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.Add_Emis_4_Percent > 0.0){@ReportDailyController.exceedColor}">@ReportDailyController.reportDay.avgTotal_20M.Add_Emis_4 / @ReportDailyController.reportDay.sumTotal_20M.Add_Emis_4&nbspкг.</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_4; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.Add_Emis_4_Percent > 0.0){@ReportDailyController.exceedColor}">@if (ReportDailyController.reportDay.avgTotal_20M.Add_Emis_4_Percent < 0){@ReportDailyController.reportDay.avgTotal_20M.Add_Emis_4_Percent;}</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_5; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.Add_Emis_5_Percent > 0.0){@ReportDailyController.exceedColor}">@ReportDailyController.reportDay.avgTotal_20M.Add_Emis_5 / @ReportDailyController.reportDay.sumTotal_20M.Add_Emis_5&nbspкг.</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Add_Emis_5; padding: 4px; @if(ReportDailyController.reportDay.avgTotal_20M.Add_Emis_5_Percent > 0.0){@ReportDailyController.exceedColor}">@if (ReportDailyController.reportDay.avgTotal_20M.Add_Emis_5_Percent < 0){@ReportDailyController.reportDay.avgTotal_20M.Add_Emis_5_Percent;}</td>


                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Pressure; padding: 4px;">@ReportDailyController.reportDay.avgTotal_20M.Pressure</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Temperature; padding: 4px;">@ReportDailyController.reportDay.avgTotal_20M.Temperature</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Speed; padding: 4px;">@ReportDailyController.reportDay.avgTotal_20M.Speed</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Flow; padding: 4px;">@ReportDailyController.reportDay.avgTotal_20M.Flow</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Temperature_KIP; padding: 4px;">@ReportDailyController.reportDay.avgTotal_20M.Temperature_KIP</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Temperature_NOx; padding: 4px;">@ReportDailyController.reportDay.avgTotal_20M.Temperature_NOx</td>


                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.O2_Dry; padding: 4px;">@ReportDailyController.reportDay.avgTotal_20M.O2_Dry</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.O2_Wet; padding: 4px;">@ReportDailyController.reportDay.avgTotal_20M.O2_Wet</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.H2O; padding: 4px;">@ReportDailyController.reportDay.avgTotal_20M.H2O</td>

                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.Mode_ASK; padding: 4px; @if(@ReportDailyController.reportDay.sumTotal_20M.Mode_ASK > 0.0){@ReportDailyController.exceedColor};">@ReportDailyController.reportDay.sumTotal_20M.Mode_ASK ч.</td>
                            <td style="display:@GlobalStaticSettingsASK.VisibilityOptions20M.PDZ_Fuel; padding: 4px;">@*@ReportDailyController.avgAndTotal_20M.PDZ_Fuel*@</td>
                </tr>
                  
            </tfoot>
        </table>
    </div>
</div>















